<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="userstyle/css/loginpage_style/loginstyle.css">
</head>
<body>
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">Forgot password ?</div>
        
    </div>
   
    <% if (message) { %>
      <h5 class="text-success text-center mt-2 small"style="color: green;"><%= message %></h5>
    <% } %>
    <div class="form-container">
     
      <div class="form-inner">
        <form action="/send_password_OTP" method="post"  novalidate="novalidate">
          <div class="field">
            <input type="tel" name="phone" placeholder="phone" required>
          </div>
         
        
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="send otp">
          </div>
        
        </form>
      </div>
        <div class="form-inner">
          <form action="/verify_password_OTP" method="post"    novalidate="novalidate">
            <div class="field">
              <input id="otp" type="tel" name="otp" placeholder="enter OTP" >
            </div>
            <div class="form-inner">
                <div class="field">
                  <input type="password" name="password" placeholder="New password" required>
                </div>
              </div>
          
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="verify otp">
            </div>
          
          </form>
        
        </div>
      </div>
    </div>
  </div>
<script>
  const loginText = document.querySelector(".title-text .login");
  const loginForm = document.querySelector("form.login");
  const loginBtn = document.querySelector("label.login");
  const signupBtn = document.querySelector("label.signup");
  const signupLink = document.querySelector("form .signup-link a");
  signupBtn.onclick = (()=>{
    loginForm.style.marginLeft = "-50%";
    loginText.style.marginLeft = "-50%";
  });
  loginBtn.onclick = (()=>{
    loginForm.style.marginLeft = "0%";
    loginText.style.marginLeft = "0%";
  });
  signupLink.onclick = (()=>{
    signupBtn.click();
    return false;
  });
</script>

</body>
</html>